/* TABLE OF CONTENTS

/***************/

/* MYRA FONTS */

@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Extrabold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
    font-family: "Rubik Regular";
    font-size: 14px;
    overflow-x: hidden;
}

p.size1 { font-size: 18px; }
p.size2 { font-size: 16px; }
p.small-text { font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat Extrabold";
    line-height: 1.33;
}
h1 { font-size: 46px; line-height: 1.33; }
h2 { font-size: 30px; line-height: 1.33; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #002b4a;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #002b4a;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #002b4a;
}

/* FONT SIZES AVAILABLES ON MOCKUP */

.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-32 { font-size: 32px; }
.fs-46 { font-size: 46px; }
.fs-60 { font-size: 60px; }
.fs-80 { font-size: 80px; }

.text-bold { font-weight: bold; }
.text-bolder { font-weight: 900; }


.lineh-24 {line-height: 24px;}
.lineh-28 {line-height: 28px;}
.lineh-40 {line-height: 40px;}
.lineh-59 {line-height: 59px;}

.break-br{ clear: both; }

@media only screen and ( min-width: 1024px ){

    .padh-20 { padding-left:20px; padding-right:20px; }
    .padh-40 { padding-left:40px; padding-right:40px;}
    .padh-60 { padding-left:60px; padding-right:60px;}
    .padh-80 { padding-left:80px; padding-right:80px;}

    .section-padh-60 .et_pb_row { padding-left:60px; padding-right:60px;}

    .padl-60 { padding-left: 60px; }

}


/* TEXT COLOR AVAILABLES ON MOCKUP */

.text-myra-white    { color: #fff; }
.text-myra-blue     { color: #002b4a; line-height: 1.33; }
.text-myra-cyan     { color: #29d9ff; line-height: 1.63; letter-spacing: 0.4px; }
.text-myra-gray     { color: #666; }

p.text-myra-blue{ line-height: 1.75; }

.text-break { display: block; }
.text-exceed-limit { color: red!important; }

/* FONT FAMILIES AVAILABLES ON MOCKUP */
.montserrat { font-family: "Montserrat Extrabold"; }
.monserrat-regular { font-family: "Montserrat Regular"; }
.rubik { font-family: "Rubik Regular"; }


.big-headline,
.home-headline {
    font-weight: 800;
    letter-spacing: 0.4px;
    line-height: 1.24;
}

@media screen and (max-width: 768px){
    .home-headline { font-size: 46px!important; }
    #myra-uber-uns-link{ text-align: center; }
}

/*h2.blue,
h2 .blue { color: #29d9ff; }*/

h2.dark-blue,
h2 .dark-blue,
.quote,
h4,
.size-2 { color: #002b4a; }

#footer-bottom { display: none; }

/* MYRA CUSTOM BUTTONS */
.do_blurb_link { display: none; }
.show-btn .do_blurb_link { display: block; }
.myra-cyan-text { color: #29d9ff; }
.product-assets-card.hide-button .product-asset-card-button-placeholder{ display: none; }

/* Myra Slider */
/* SLIDER ELEMENTS POSITIONS */
@media only screen and (min-width: 1024px){
    .myra-slider.et_pb_slider { overflow: visible; }
    .myra-slider .et_pb_slide_description {
        float:left !important;
        padding-left:100px !important;
    }
    .myra-slider .et_pb_slide_image {
        right: 0;
        top: 30% !important;
        margin-right: 0;
    }

    .myra-slider .et_pb_slide .et_pb_container{
        max-height: 500px!important;
    }

    .myra-slider .et_pb_slide .et_pb_slide_description{
        padding: 10% 8%;
    }
    .myra-slider .et_pb_slide_image{
        max-height: none!important;
    }

    .myra-slider .et_pb_slide_image img {
        width: 100%;
    }
    /* SLIDER ARROWS */
    .myra-slider .et-pb-slider-arrows{
        width: 100px;
        position: relative;
        right: 100px;
        float: right;
        bottom: 80px;
    }

    .myra-slider.et_pb_slider .et-pb-arrow-prev,
    .myra-slider.et_pb_slider .et-pb-arrow-next,
    .myra-slider.et_pb_slider:hover .et-pb-arrow-next,
    .myra-slider.et_pb_slider:hover .et-pb-arrow-prev{
        opacity: 1;
    }

    .myra-slider.et_pb_slider .et-pb-arrow-prev,
    .myra-slider.et_pb_slider:hover .et-pb-arrow-prev{
        left: 0;
    }

    .myra-slider.et_pb_slider .et-pb-arrow-next,
    .myra-slider.et_pb_slider:hover .et-pb-arrow-next{
        right: 0;
    }

    .myra-slider .et-pb-arrow-prev,
    .myra-slider .et-pb-arrow-next {
        border: 1px solid #7dff54;
        width: 47px;
        height: 47px;
    }

    .myra-slider .et-pb-arrow-prev:before,
    .myra-slider .et-pb-arrow-next:before {
        color: #7dff54;
        display: block;
        font-size: 20px;
        transform: translate(12px, 10px);
    }

    .myra-slider .et-pb-arrow-prev:before{
        content: "←";
    }

    .myra-slider .et-pb-arrow-next:before{
        content: "→";
    }
}

@media only screen and (min-width: 1500px){
    .myra-slider .et-pb-slider-arrows{
        right: 36%;
    }
}
@media only screen and (min-width: 2500px){
    .myra-slider .et-pb-slider-arrows{
        right: 28%;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .myra-slider .et-pb-slider-arrows{
        right: 10%;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2400px) {
    .myra-slider .et-pb-slider-arrows{
        right: 20%;
    }
}

/* MYRA TESTIMONIAL SLIDER */
.myra-testimonial-slider .et_pb_slide_description:after {
    content: '';
    width: 46px;
    height: 41px;
    display: inline-block;
    background-image: url(../images/quote.png);
    position: absolute;
    top: -5px;
    left: -60px;
}
/* SLIDER ARROWS */
.myra-testimonial-slider .et-pb-slider-arrows{
    width: 100px;
    position: relative;
    right: 100px;
    float: right;
    bottom: -20px;
}
.myra-testimonial-slider.et_pb_slider .et-pb-arrow-prev,
.myra-testimonial-slider.et_pb_slider .et-pb-arrow-next,
.myra-testimonial-slider.et_pb_slider:hover .et-pb-arrow-next,
.myra-testimonial-slider.et_pb_slider:hover .et-pb-arrow-prev{
    opacity: 1;
}

.myra-testimonial-slider.et_pb_slider .et-pb-arrow-prev,
.myra-testimonial-slider.et_pb_slider:hover .et-pb-arrow-prev{
    left: 0;
}

.myra-testimonial-slider.et_pb_slider .et-pb-arrow-next,
.myra-testimonial-slider.et_pb_slider:hover .et-pb-arrow-next{
    right: 0;
}

.myra-testimonial-slider .et-pb-arrow-prev,
.myra-testimonial-slider .et-pb-arrow-next {
    border: 1px solid #002b4a;
    width: 47px;
    height: 47px;
}

.myra-testimonial-slider .et-pb-arrow-prev:before,
.myra-testimonial-slider .et-pb-arrow-next:before {
    color: #002b4a;
    display: block;
    font-size: 20px;
    transform: translate(12px, 10px);
}

.myra-testimonial-slider .et-pb-arrow-prev:before{
    content: "←";
}

.myra-testimonial-slider .et-pb-arrow-next:before{
    content: "→";
}
@media only screen and (max-width: 1023px){
    .myra-testimonial-slider-section .et_pb_slide_image,
    .myra-testimonial-slider-section .et_pb_slide_video {
        display: block !important;
        text-align: left;
    }
    .myra-testimonial-slider-section .et_pb_slide_description { margin-top: 20px; }
    .myra-testimonial-slider .et_pb_slide_description:after {
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 0;
        left: 0;
    }
    .myra-testimonial-slider .et-pb-slider-arrows {
        right: 10%;
        bottom: 40px;
    }
    .testimonial-author-placholder {
        position: absolute;
        top: -75px;
        right: 0;
        max-width: 65%;
        text-align: left;
    }
    .myra-testimonial-slider .et_pb_slide_image {
        max-width: 25%;
        text-align: left;
        margin-left: 0;
        border-radius: 100%;
        overflow: hidden;
    }
    .myra-testimonial-slider .et_pb_slide {
        background: none !important;
        text-shadow: none !important;
    }
    .myra-testimonial-slider .et_pb_slide_description *{
        color: #002b4a !important;
    }

}
@media only screen and ( min-width: 1024px ){
    .myra-testimonial-slider-section { background: #ecf0f3; }
    .myra-testimonial-slider { overflow: visible; }
    .myra-testimonial-slider .et_pb_slides { padding: 20px 0; }
    .myra-testimonial-slider .et_pb_slide {
        background: none;
        background-color: none;
    }
    .myra-testimonial-slider .et_pb_slide_image {
        width: 30%!important;
        text-align: right;
        top: 15%;
    }
    .myra-testimonial-slider .et_pb_slide_image img {
        width: 100%;
        max-width: 80px;
        border-radius: 100%;
    }
    .myra-testimonial-slider .et_pb_slide_description {
        width: 60%;
        position: relative;
        padding: 0;
    }

    .myra-testimonial-slider .et_pb_slide_description * {
        color: #002b4a !important;
        font-size: 24px !important;
        line-height: 40px;
        text-shadow: none;
    }
    .testimonial-author-placholder{
        position: absolute;
        top: 50%;
        text-align: right;
        max-width: 250px;
        left: -60%;
    }
    .testimonial-author-placholder h4.testimonial-author-name,
    .testimonial-author-placholder p.testimonial-author-description{
        line-height: 1;
        font-size: 16px!important;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px){
    .myra-testimonial-slider .et-pb-slider-arrows{
        right: 10%;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2490px){
    .myra-testimonial-slider .et-pb-slider-arrows{
        right: 10%;
    }
}
@media only screen and (min-width: 2500px){
    .myra-testimonial-slider .et-pb-slider-arrows{
        right: 6%;
    }
    .myra-testimonial-slider .et_pb_slide_image {
        width: 27%!important;
    }
}
/* MYRA STYLED BUTTONS */
.et_pb_myra_button:hover span.myra-button-arrow{ background: #44f56b; }

.myra-clients .et_pb_button,
a.myra-styled-button{
    border: 2px solid #7dff54!important;
    background: transparent !important;
    padding: 13px 24px !important;
    font-family: "Montserrat Extrabold";
    font-weight: 900;
    color: #7dff54;
}

.myra-clients .et_pb_button:hover,
a.myra-styled-button:hover{
    border: 2px solid #44f56b!important;
    color: #44f56b;
    padding: 13px 24px !important;
}

/* HEADER */

/* NAVIGATION */

#et-secondary-menu { font-weight: 400; }

/* For Devices greater than 1024px */

/* ANIMATIONS */
/* Bouncing home arrow */
.myra-bounce-this {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.myra-bounce {
    animation-name: myra-arrow-bounce;
    animation-timing-function: ease;
}
@keyframes myra-arrow-bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

@media only screen and (max-width: 980px){

    .hide-on-mobile { display: none!important; }

}

@media only screen and (min-width: 980px){

    .hide-on-desktop { display: none!important; }

}

@media only screen and (min-width: 1024px){

    #main-header {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #myra-entire-header { overflow: auto; }

    #myra-entire-header,
    #main-header,
    #top-header { background: #062537; }

    #main-header.et-fixed-header{ height: 86px; }

    .et_menu_container .myra-flex-nav-container{
        display: flex;
        height: 100%;
        padding: 18px 0 0 0;
    }

    #main-header.et-fixed-header .et_menu_container { padding: 8px 0; }

    .logo_container,
    .myra-nav-buttons { width: 15%!important; }
    
    .logo_container { position: relative!important;}

    .et-top-navigation {
        padding: 0!important;
        width: 60%!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .et-top-navigation .quadmenu-item-level-0 > a * { color: white; }

    .top-menu-nav {
        margin: 0 auto;
        float: none!important;
    }

    .top-menu-nav .quadmenu-navbar-nav a { padding-bottom: 0!important; }

    /* navigation scrolling effect */
    .hide-elements-on-navbar #top-header{
        height: 0;
        overflow: hidden;
    }

    .hide-elements-on-navbar #main-header{ top: 0!important; }

    .hide-elements-on-navbar .myra-logo-nav{ max-width: 124px; }
    /*---------------------------------*/
    li.lang-item-first {
        position: relative!important;
    }

    li.lang-item-first:after {
        content: '|';
        display: inline-block;
        position: absolute;
        top: 1px;
        margin-left: 5px;
        right: -10px;
    }
}

/* MYRA SPRITE */
li.quadmenu-has-icon{
	transform: translateX(-36px) !important;
}

.myra-megamenu-icon {
    display: inline-block!important;
    width: 24px!important;
    height: 24px!important;
    margin-right: 10px;
    background-image: url(../images/myra-sprite.png);
    background-position: 100%;
}

.myra-megamenu-icon-ddos { background-position: 0 0 !important; }
.myra-megamenu-cdn { background-position: -50px 0 !important; }
.myra-megamenu-was { background-position: -150px 0 !important; }
.myra-megamenu-icon-mslb { background-position: -100px 0 !important; }
.myra-megamenu-icon-wi { background-position: -200px 0 !important; }
.myra-icon-notfall{ background-position: 300px -50px !important; }
.myra-icon-notfall-phone{ background-position: 250px -50px !important; }
.myra-megamenu-contact .myra-icon-notfall{ background-position: 400px -40px !important;height: 30px!important; }
.myra-megamenu-contact .myra-icon-notfall-phone{ background-position: 350px -40px !important; height: 30px!important;}

@media only screen and (max-width: 980px){
    .myra-megamenu-icon-ddos,.myra-megamenu-cdn,.myra-megamenu-was,.myra-megamenu-icon-mslb,.myra-megamenu-icon-wi{ visibility: hidden!important; }
}


/* END MYRA SPRITE */

/* MEGAMENU */

.myra-megamenu-title .quadmenu-item-content,.et_mobile_menu .myra-megamenu-title .quadmenu-item-content{
    font-family: "Montserrat Extrabold"!important;
    font-size:14px;
}

.top-menu-nav .quadmenu-item-content,.top-menu-nav .quadmenu-subtitle,.et_mobile_menu .quadmenu-subtitle{
    color:#002b4a!important;
    font-family: "Montserrat Regular";
}
#quadmenu .quadmenu-navbar-nav li.quadmenu-item .quadmenu-item-content{
    padding: 10px 15px;
}
#menu-item-261:after{
    content: ""; 
    position: absolute; 
    right:0; 
    top:30px; 
    z-index:100; 
    height: 325px; 
    width: 1px; 
    background-color: #002b4a!important;
}

#menu-item-254, #menu-item-255{
    top:45px!important;
}

.top-menu-nav .quadmenu-subtitle,.et_mobile_menu .quadmenu-subtitle{
    font-size:13px!important;
    line-height:2.31;
}

.quadmenu-navbar-nav .quadmenu-item-level-0 > a > span {
    font-family: "Montserrat Extrabold"!important
}

.myra-megamenu-losugen .myra-megamenu-title .quadmenu-item-content{
    font-size: 12px!important
}

.myra-megamenu-contact{
    color: #002b4a!important;
    padding-top: 15px;
}

.myra-megamenu-contact h5{
    line-height: 1.38;
    color: #002b4a;
}

.myra-megamenu-contact p{
    line-height: 1.5;
    font-family: "Rubik Regular";
    font-weight: 400;
}   

.myra-megamenu-contact a{
    color: #fff!important;
    font-size: 14px;
    font-family: "Montserrat Extrabold";
    display: flex;
}

.myra-megamenu-contact .myra-nav-button{
    margin:10px auto;
    padding-top: 6px;
    padding-bottom: 6px;
    background-image: -webkit-linear-gradient(110deg, #f79121, #fc5240);
    background-image: -o-linear-gradient(110deg, #f79121, #fc5240);
    background-image: linear-gradient(290deg, #f79121, #fc5240); 
    border-style: solid; 
    border-width: 1px;
    border-image-source: linear-gradient(298deg, #f79121, #fc5240);
    border-image-slice: 1;
    cursor: pointer;
}
@media only screen and (min-width: 921px) and (max-width: 1112px){
    .quadmenu-row{ 
        justify-content: center;
    }

    #quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-3{
        padding-bottom: 15px;
    }

    #quadmenu .quadmenu-navbar-nav .col-sm-3{
        flex: 0 0 100%;
        max-width: 40% 
    }
}

@media only screen and (min-width: 576px) and (max-width: 920px){
    .quadmenu-row{ 
        justify-content: center;
    }

    #quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-3{
        padding-bottom: 15px;
    }

    #quadmenu .quadmenu-navbar-nav .col-sm-3{
        flex: 0 0 100%;
        max-width: 50% 
    }
}
@media only screen and (min-width:769px) and (max-width: 980px){
    .myra-megamenu-contact i{
        display: none!important;
    }
    .myra-megamenu-contact a{
        font-size: 13px!important;
    }
}

@media only screen and (max-width:320px) {
    .myra-megamenu-contact i{
        display: none!important;
    }
    .myra-megamenu-contact a{
        font-size: 13px!important;
    }
}
.quadmenu-item-object-column:last-child{
    background-color: #ecf0f3!important;
}
.quadmenu-navbar-nav .myra-megamenu-underline{
    border-bottom: 4px solid transparent!important;
    padding:30px 0!important;
}
.quadmenu-navbar-nav .myra-megamenu-underline:hover,
.quadmenu-navbar-nav .myra-megamenu-underline:focus,
.quadmenu-navbar-nav .myra-megamenu-underline:active,
.quadmenu-navbar-nav .myra-megamenu-underline.open{
    border-bottom: 4px solid #7dff54!important;
}
#main-header.et-fixed-header .et_menu_container{
    padding: 0!important;
}
#main-header.et-fixed-header .et_menu_container{
    padding: 0!important;
}

.myra-megamenu-produkte .myra-megamenu-title .quadmenu-item-content { display: flex!important; }

@media only screen and (min-width: 769px){
    .quadmenu-item-object-column:last-child{
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
}

/* FIXED HEADER */
.et-fixed-header .container.et_menu_container{
    height: 100%;
}
.et-fixed-header .et_menu_container .myra-flex-nav-container{
    padding: 0;
}

/* MEGANU MOBILE STYLES */
.mobile_menu_bar:before{
    color: #fff;
}
.et_mobile_menu{
    border-top: 3px solid #7dff54;
}
.et_mobile_menu .quadmenu-item-content{
    font-family: "Montserrat Regular";
    color: #002b4a!important;
}
.et_mobile_menu .quadmenu-navbar-nav .myra-megamenu-underline{
    border-bottom: 4px solid transparent!important;
    padding:0!important;
}

/* END MEGAMENU */

/* NOTFALL Window */
.myra-notfall-pop {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    position: relative;
}
.notfall-textwidget {
    position: absolute;
    right: 0;
    min-width: 270px;
    padding: 25px;
    padding-top: 29px;
    box-shadow: 2px 2px 8px 1px rgba(0, 43, 74, 0.47);
    background-image: -webkit-linear-gradient(332deg, #f79121, #fc5240);
    background-image: -o-linear-gradient(332deg, #f79121, #fc5240);
    background-image: linear-gradient(332deg, #f79121, #fc5240);
    color: white;
}
.notfall-textwidget p{
    line-height: 1.5;
}

.notfall-textwidget.hidden{ display: none; }
.myra-notfall-pop-btn {
    padding: 18px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: white;
}

.myra-notfall-pop-btn.first-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

/*gray line accesoire */
hr.myra-line {
    border:0;
    height: 1px;
    background-color: #d7e0ec;
    margin-top: 4%;
    margin-bottom: 4%;
}

/*end gray line accesoire */
/*Home Page*/
/*home-banner section*/
#home-banner {
    background-image: linear-gradient(301deg, #002b4a, #082433);
    width: auto;
    height: calc(100vh - 110px);
}
@media only screen and (min-width: 2000px){
    #home-banner .myra-bounce-row{
        padding-top: 20vh!important;
    }
}
/*end-home-banner section*/

/*myra-facts section*/
.myra-facts h4{
   font-size: 16px;
   text-align: center;
   letter-spacing: 0.4px;
   line-height: 1.63;
}

.myra-facts {
    padding-top: 30px;
    padding-bottom: 30px;
}

.myra-alle-arrow:after{
    font-family: ETmodules!important;
    content: "$";
    position: absolute;
    top: -4px !important;
    margin-left: 5px;
    font-size: 24px !important;
    color: #7DFF54;
    display: inline-block;
    font-weight: bold !important;
}


.myra-facts .et_pb_blurb_description {
    font-size: 16px;
    color: #002b4a;
    text-align: center;
    line-height: 1.75;
}
/*end myra-facts section*/

/*myra-why section*/
#myra-why {
    background-color: #ecf0f3;
    width: auto;
    /*height: 667px;*/
}

.myra-why .small-title h5 {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #29d9ff;
}

.myra-why h3 {
  font-size: 46px;
  line-height: 1.28;
  color:#002b4a;
}

.myra-why .myra-cyan-text {
    color: #29d9ff;
}

.myra-why p {
    color: #002b4a;
    font-size: 18px;
    line-height: 34px;
}
.et_pb_button,
.myra-why .et_pb_button{
  background-color: #002b4a;
  border: none;
  color: white;
  padding: 15px 32px!important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
/*end-myra-why section*/

/*myra-clients*/
#myra-clients {
    /*background: linear-gradient(#002b4a, #082433);*/
    width: auto;
    /* height: 619px; */
}

.myra-clients .small-title h5 {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #29d9ff;
}

@media only screen and (min-width: 1024px){

    .myra-clients h2 {
      width: 438px;
      height: 118px;
      line-height: 1.33;
       color: #fff;
    }

    .myra-clients p {
      width: 444px;
      height: 78px;
      font-size: 16px;
      color: #ffffff;
    }

}


.myra-clients .et_pb_button {
    color: #7dff54;
    border: 2px solid #7dff54;
}

.myra-clients .myra-clients-dots {
    padding-top: 400px;
}

.myra-clients .myra-clients-slider {
    max-width: 100%;
    height: auto;
}

.myra-clients .et_pb_slide{
    background-color: transparent !important;
}
.myra-clients h5.text-myra-cyan{
    color: #29d9ff !important;
}
/*end-myra-clients*/

/* Unsere Produkte */
@media only screen and (min-width: 1440px) {
    #unsere-produkte .podm_myra_blurb_2 {
        margin-top: 0;
    }
	#unsere-produkte .podm_myra_blurb_3 {
		margin-top: -175px;
	}
	#unsere-produkte .podm_myra_blurb_4 {
		margin-top: -80px;
	}
}
@media only screen and (min-width: 2000px) {
	#unsere-produkte .podm_myra_blurb_4 {
		margin-top: -60px;
	}
}

/*referenzen*/
#myra-referenzen {
    background-color: #ecf0f3;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.myra-referenzen .et_pb_text_inner {
    color: #002b4a;
}
/*end referenzen*/
@media only screen and (min-width: 1920px) {
    /*
    #myra-referenzen+.et_pb_section .et_pb_row,
    .section-before-neg-margin .et_pb_row,
    */
    #unsere-produkte-title,
    #unsere-produkte {
        max-width: 1440px;
        margin: auto;
    }
    #unsere-produkte-title h3.text-myra-blue.fs-46{
        line-height: 50px!important;
    }
}
.move-title-to-slider{
    transform: translate(45px,100px);
    z-index: 9;
}
.move-title-to-slider .text-myra-cyan-line:before{
    top: 20px;
}
@media only screen and (min-width: 1920px) and (max-width: 2500px){
    .move-title-to-slider{
        transform: translate(5%,100px);
    }
}
@media only screen and (min-width: 2500px){
    .move-title-to-slider{
        transform: translate(3.7%,100px);
    }
}

/* END HOME PAGE */

/* MYRA OVERVIEW PRODUCT PAGE */
.product-assets-card .et_pb_main_blurb_image {
    display: block;
    text-align: left;
    padding: 30px;
    margin: 0;
}



/*myra-products*/
.myra-product-item .et_pb_blurb_content{
    background: linear-gradient(8deg, #002b4a, #082433);
    height: 600px;
    width: 400px;

}
.myra-product-item .et_pb_blurb_content h2 {
    padding-left: 10%;
}
.myra-product-item .et_pb_blurb_content p {
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
    line-height:28px;

}

@media only screen and (min-width: 1024px){
    .myra-hero-square-box{ height: 0!important; }
    .myra-hero-square-box .et_pb_column {
        margin-right: 0;
        width: 20%;
    }

}
@media only screen and (max-width: 1024px){
    .myra-hero-square-box .et_pb_column{
        padding: 20px 0;
        text-align: center;
    }
}

.myra-hero-square-box .myra-square-column {
	background: #fff;
    padding: 40px 30px;
    min-height: 210px;
    margin-top: -210px;
}

.myra-product-nav-sticky .myra-btn-preisanfrage,
.myra-hero-square-box a.myra-btn-preisanfrage{
	background: #7dff54 !important;
    padding: 14px 28px !important;
    color: #002b4a;
    font-family: "Montserrat Extrabold";
    margin: 0 auto;
    max-width: 180px;
    display: flex;
    justify-content: center;
}
.myra-product-nav-sticky .myra-btn-preisanfrage:hover,
.myra-hero-square-box a.myra-btn-preisanfrage:hover{
	background: #00e887 !important;
    padding: 14px 28px !important;

}

.detail-vorteile,
#product-text-banner{ background-position: 95% 88%!important; }

@media only screen and (min-width: 980px) and (max-width: 1112px){
    .myra-hero-square-box .myra-square-column {
        padding: 30px 15px;
        
    }
}
/* end myra product*/

/*myra report*/
#myra-report {
 /*background-image: url('http://localhost/wordpress/wp-content/uploads/2019/08/dots.png'),linear-gradient(292deg, #002b4a, #082433) ;
 background-position: center bottom;
 background-repeat: no-repeat;
 background-size: contain;*/
 background-image: linear-gradient(296deg, #002b4a, #082433);
}

.myra-report h2 p{
    color: #fff
}

.myra-report h5 {
    color: #29d9ff;
}
.myra-report .et_pb_button {
    color: #7dff54;
    border: 2px solid #7dff54;
}
/*end myra report*/

.myra-testimonials {
    background-color: #ecf0f3;
}
.myra-testimonials h2 {
    text-align: center;
}

.myra-testimonials-logos {
    padding-top: 30px;
    padding-bottom: 30px;
}
/*end Home*/

/*Produck-Page*/
/*product banner*/
#product-banner {
    background-image: linear-gradient(296deg, #002b4a, #082433);
    width: auto;
    height: auto;

    /*background-image: url('https://msec.locallhost.de/wp-content/uploads/2019/09/Banner-DDos.png'),linear-gradient(296deg, #002b4a, #082433);
    /*change to the right url, and every product has a different url*/
    /*background-position: center right;
    background-repeat: no-repeat;
   /* background-size: contain;*/
}
.product-banner p {
    color: #fff;
    font-size: 18px;
    line-height: 1.9;
    max-width: 552px;
}
@media only screen and (max-width: 980px){
   .product-banner .et_pb_column{
        background: rgba(8,37,53,0.7);
        padding: 20px;
   }

}

/*end product banner*/
/*product overview*/
.product-overview p {
    text-align: center;
    color: #002b4a;
    font-size: 16px;
}

.product-text-banner{
    background: none;
}

.product-text-banner .et_pb_row { }
/*end product overview*/

/*product text banner*/
#product-text-banner {

    background-image: url('http://localhost/wordpress/wp-content/uploads/2019/08/dots.png');
    background-color: linear-gradient(292deg, #002b4a, #082433);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
}

@media only screen and (max-width: 1024px){
    #detail-vorteile,
    #product-text-banner{
        background: none;
        background-image: none!important;
        background-color: #002b4a;
    }
}

.product-text-banner h2 {
    color: #fff;
    line-height: 1.33;
    max-width: 818px;


}
.product-text-banner-dots { padding-top: -30%; }

.product-text-banner-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/*end product text banner*/
/*product description*/
.product-description { background-color: rgba(236, 240, 243, 0.7); }
.product-description .et_pb_column { width: 52%; }
.product-description .et_pb_column:first-child {
    margin-right: 0;
    width: 45.25%;
}
.product-description h1, 
.product-description p {
   color: #002b4a;
   line-height:1.5;
   font-size: 14px;
}

.product-description .et_pb_text_inner h5{
    color: #002b4a;
    letter-spacing: 0.4px;
}

.product-description-schutz-text {
    padding-right: 20%;
}
/*end product description*/

/*product assets*/
.product-assets h2{
    text-align: center;
}
.product-assets .et_pb_column:not(.et_pb_column_4_4){
    background-color: rgba(236, 240, 243, 0.7);
}
.product-assets-card {
    height: auto;
    padding-bottom: 80px;
}
.product-assets-card p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
}

.product-assets-card h2 {
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    text-align: left;
}

.product-assets-cardtest {
    background-color: rgba(236, 240, 243, 0.7);
    height: 412px;
    width: 390px;
}

.product-assets-card .et_pb_main_blurb_image {
    display: block;
    text-align: left;
    padding: 30px;
    margin: 0;
}

.product-asset-card-button {
	width: 67px;
	height: 67px;
	background: #7dff54;
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
	color: #002b4a;
	font-size: 30px;
}
span.product-asset-card-button:after,.myra-product-submit-bullet:after{
    font-family: ETmodules!important;
    content: "$";
    position: absolute;
    transform: translateY(2px);
}

/*end product assets*/

/* section before negative margin image */
@media only screen and (min-width: 1024px) {
    .section-before-neg-margin{
        padding-bottom:120px;
    }   
}
/*negative-margin-img*/
.negative-margin-img{
	margin-top:-138px;
}
.negative-margin-dots{
    margin-top:-84px;
}
.myra-translate-left{
    transform: translateX(-36px);
}
.myra-translate-right{
    transform: translateX(36px);
}
.myra-kunden-dots{
    transform:translateX(-65px);
}
.myra-right-dots{
    transform:translateX(40px);
}


/*product price form*/
.product-price-form h1 { color: #002b4a; }

.myra-product-contact-form .et_pb_contact_form_label {
    font-family: "Montserrat Extrabold";
    color: #002b4a;
    display: block;
    line-height: 1.86;
    margin-bottom: 5px;    
}

.myra-product-contact-form .et_pb_contact_select,
.myra-product-contact-form .et_pb_contact p input,
.myra-product-contact-form .et_pb_contact p textarea,
.myra-product-contact-form .et_pb_contact p input[type=checkbox]+label{
    font-family: "Rubik Regular";
    font-size: 13px;
    color: #002b4a;
}

.myra-product-contact-form .et_pb_contact_select,
.myra-product-contact-form .et_pb_contact p input,
.myra-product-contact-form .et_pb_contact p textarea,
.et_pb_contact p input[type=checkbox]+label i{
    background-color:#ecf0f3;
}
.et_pb_contact p input[type=checkbox]+label i{
    height: 16px;
    width:16px;
    border:1px solid #ccc;
}

.myra-product-contact-form .et_pb_contact_field_options_wrapper span.et_pb_contact_field_options_title,
.myra-product-contact-form p[data-type="checkbox"] label.et_pb_contact_form_label{
    display: none;
}

.et_pb_contact_field[data-type=select]:after{
    font-family: ETmodules!important;
    content: '"';
    border:0;
    transform: none;
    font-size: 20px;
    color:#002b4a;
    top: 52%;
    left: 95%;
}

p[data-id="message"] { position: relative; }

.textarea-counter{
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 5px;
}
.myra-product-contact-form .myra-product-submit,
.myra-product-contact-form .myra-product-submit:hover {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0!important;
    margin-top: 40px;
    margin-bottom: 20px;
}
.myra-product-contact-form .myra-product-submit-text {
    padding: 0 14px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat Extrabold";
    transition: padding ease .2s;
}

.myra-product-contact-form .myra-product-submit:hover .myra-product-submit-text {
    padding: 0 20px;
    transition: padding ease .2s;
}

.myra-product-contact-form .myra-product-submit-bullet {
    width: 48px;
    height: 48px;
    color: #002b4a;
    background: #7dff54;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/*end product price form*/
/*end Product Page */

/* WARUM MYRA */
.myra-warum-vision h2{
    line-height: 1.33;
}

.text-myra-cyan-line:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #29d9ff;
    left: -55px;
    top: 10px;
}
.num-myra-cyan-line:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #29d9ff;
    top: 12px;
    left: auto;
    transform: translateX(-50px);
}
.num-myra-cyan-line{
    transform: translateX(25px);
}

@media only screen and (max-width:500px){
    .text-myra-cyan-line:before{
        display: none;
    }
}   
/* END WARUM PAGE */ 

/* KARRIERE PAGE */
.myra-karriere-dots-bg{
    background-position: right 220px!important;
}

/*Detail Product Page*/

#detail-banner{
    background-image: linear-gradient(296deg, #002b4a, #082433);
    height: auto;
    width: auto;
}

.detail-banner p {
    color: #fff;
}

.detail-product-text {
    height: auto;
    width: auto;
}

.detail-product-text p {
  color: #002b4a;
  line-height: 28px;
}

.detail-vorteile{
 background-color: #002b4a;
 height: auto;
 width: auto;
}

.detail-vorteile p{
    color: #fff;
    line-height: 28px;
    font-size: 16px;
}

.detail-features p{
    font-size: 16px;
}

.text-detail-vorteile li{
    padding-top: 8%;
    
}

@media only screen and (max-width: 980px){
    .detail-vorteile .et_pb_column{
        margin-bottom: 0;
    }
    .detail-vorteile .et_pb_text ul{
        padding-bottom: 0
    }
}
/*End Detail Product Page*/

/*Text Page*/
#textpage-title-banner {
    background-color: #ecf0f3;
    width: auto;
    height: calc(50vh - 110px);
}

.textpage-title-banner h1 {
    color: #002b4a; 
    text-align: center;
    padding-top: 3%;
}

.textpage-content h2 {
   color: #002b4a; 
   padding-bottom: 20px; 
   padding-top: 56px;
}

.textpage-content p {
    color: #002b4a;
    line-height: 28px;
    font-size: 16px;
}

.textpage-content li {
    color: #002b4a;
}

/*End Text Page*/

/*General content*/
.image-caption p{
  font-size: 13px;
  line-height: 17px;
  color: #002b4a;
  font-weight: 600;
}


/* Navigation buttons */
.myra-nav-buttons {
    min-width: 270px;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
}

.myra-nav-button {
    padding: 4px 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.38;
    letter-spacing: normal;
    text-align: center;
}

.myra-nav-buton-demo {
    background: white;
    color: #002b4a;
}

.myra-nav-buton-notfal {
    color: #fc5240;
    width: 97px;
    height: 39px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(298deg, #f79121, #fc5240);
    border-image-slice: 1;
    cursor: pointer;
}

.myra-nav-buton-notfal:hover{
    color: #fff;
    background: #fc5240;
}

/* PRODUCT PAGE */
/* Product page inner navigation */
/* Sticky Navigation */

.myra-product-nav-sticky {
    border-top: 1px solid #d7e0ec;
    border-bottom: 1px solid #d7e0ec;
}

.myra-sticky-wrapper {
    position: relative;
    z-index: 99;
}

.myra-product-nav-sticky .et_pb_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myra-product-nav-list{
    width: 100%;
}

.myra-product-nav-sticky ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.myra-product-nav-sticky ul a{
    font-family: "Montserrat Regular";
    font-weight: 700;
    line-height: 2;
    padding: 11px 22px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: #002b4a;
    display: block;
    white-space: nowrap;
}
.myra-product-nav-sticky ul a:hover{ border-bottom: 4px solid #002b4a; }

.myra-sticky-wrapper .et_pb_button_module_wrapper {
    display: none;
    min-width: 14.5%;
}
.myra-sticky-wrapper.myra-is-sticky .myra-product-nav-list { width: 80%; }
.myra-sticky-wrapper.myra-is-sticky .myra-product-nav-sticky .et_pb_button_module_wrapper { display: inline-block;}

/* Contact form */


@media only screen and (max-width: 768px){

    .myra-product-nav-sticky ul{
        flex-direction: column;
    }

}

/* FOOTER */
#footer {
    background: #062537;
    color: white;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

@media only screen and (min-width: 1025px){


    #footer #footer-row-columns .et_pb_column { width: 16%; }

    #footer #footer-row-columns .et_pb_column.et-last-child {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    
}
@media only screen and (min-width: 921px) and (max-width: 1112px){
    #footer #footer-row-columns .et_pb_column { width: 50%; }

    #footer #footer-row-columns .et_pb_column.et-last-child {  width: 100%;}

    #footer-row-columns .et_pb_css_mix_blend_mode_passthrough.et-last-child{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media only screen and (min-width: 576px) and (max-width: 920px){
    #footer #footer-row-columns .et_pb_column { width: 33.33333%; }

    #footer #footer-row-columns .et_pb_column.et-last-child {  width: 50%;}
}

#footer h3 {
    font-family: 'Montserrat Extrabold';
    color: white;
    font-size: 13px;
    line-height: 17px;
}

#footer a { color: rgba(255, 255, 255, 0.7); }
#footer a.text-myra-cyan { color: #29d9ff; }

#footer .myra-footer-socialicons {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.myra-footer-bottom-menu {
    display: flex;
    float: right;
    list-style: none;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

.myra-icon-xing { background-position: -300px -50px !important; }
.myra-icon-linkedin { background-position: -350px -50px !important; }
.myra-icon-facebook { background-position: -200px -50px !important; }
.myra-icon-kununu { background-position: -250px -50px !important; }
.myra-icon-twitter { background-position: -350px -100px !important; }

.myra-footer-bottom-menu li { margin-left: 34px; }

/* Footer Social Media Icons */

/* RESPONSIVENESS */
@media only screen and (max-width: 980px){
    /* COMMON */
    #main-header{ background-color: #002b4a; }
    .fs-46{ font-size: 25px; }

    /* Single product page */
    #detail-banner {
        height: auto;
        background: none;
    }
    .big-headline { font-size: 36px !important; }

    .myra-product-nav-sticky .et_pb_row {display: none;}

    .detail-product-text { height: auto; }

    #detail-vorteile{ height: auto; }

    #detail-vorteile div.et_pb_section.et_pb_section_4 { background: none; }

    /* Bottom contact form */
    .section-product-contactform .fs-46{ font-size: 35px; }


    /* FOOTER */
    #footer{ padding: 10%; }

    #footer .et_pb_text_inner{ margin-bottom: 42px; }

    #footer .et_pb_row { min-width: 100%; }

    .myra-footer-bottom {
        display: flex;
        flex-direction: column-reverse;
    }

    .myra-footer-bottom * {
        text-align: center;
    }

    .myra-footer-bottom-menu{
        padding: 0!important;
        float: none;
    }

    .product-text-banner h2{
        font-size: 20px;
    }

}

